{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
{% block navbar %}
{%
	set navbar_classes = [
		'navbar',
		theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
		theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
	]
%}
<header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
	<div class="container">
		<div class="row">
			{% if page.nav_social %}	
			<div class="row social">
				<nav class="col col-lg-12 nav-social">
					{{ page.nav_social }}
				</nav>
			</div>
			{% endif %}
		</div>

		<div class="row">
		{% if page.branding %}
		<div class="logo col-md-4 vcenter">
			{{ page.branding }}
		</div>
		{% endif %}
		<div class="navbar-header col-md-8 vcenter">
			{{ page.navigation }}
			{# .btn-navbar is used as the toggle for collapsed navbar content #}
			{% if page.navigation_collapsible %}
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">{{ 'Toggle navigation'|t }}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% endif %}
		</div>

		{# Navigation (collapsible) #}
		{% if page.navigation_collapsible %}
		<div id="navbar-collapse" class="navbar-collapse collapse">
			{{ page.navigation_collapsible }}
		</div>
		{% endif %}
	</div>
	</div>
</header>
{% endblock %}
{% endif %}




<main class="container">
	<div class="row">
		{% if page.sidebar_gauche %}	
		{% block sidebar_gauche %}
		<section class="col-lg-3 sidebar-gauche"  role="complementary">
			{{ page.sidebar_gauche }}
		</section>
		{% endblock %}
		{% endif %}


		{# Content #}
		{%
		set content_classes = [
		page.sidebar_gauche and page.sidebar_droit ? 'col-sm-6',
		page.sidebar_gauche and page.sidebar_droit is empty ? 'col-sm-9',
		page.sidebar_droit and page.sidebar_gauche is empty ? 'col-sm-9',
		page.sidebar_gauche is empty and page.sidebar_droit is empty ? 'col-sm-12'
		]
		%}
		<section{{ content_attributes.addClass(content_classes) }}>
			{# Highlighted #}
			{% if page.highlighted %}
			{% block highlighted %}
			<div class="highlighted">
				{{ page.highlighted }}
			</div>
			{% endblock %}
			{% endif %}

			{# Help #}
			{% if page.help %}
			{% block help %}
				{{ page.help }}
			{% endblock %}
			{% endif %}

			{# Content #}
			{% block content %}
				{{ page.content }}
			{% endblock %}
		</section>	


		{% if page.sidebar_droit %}
		{% block sidebar_droit %}
		<section class="col-lg-3 sidebar-droit" role="complementary">
			{{ page.sidebar_droit }}
		</section>
		{% endblock %}
		{% endif %}
	</div>

	{%if page.aside_dessous %}
	<div class="row">
		<section class="sur-le-terrain">
			{{ page.aside_dessous }}	
		</section>
	</div>
	{% endif %}
</main>

<footer class="container">
	<section class="row footer-coordonnees">
		<section class="col-lg-3">
			{% if page.footer_gauche %}
			{{ page.footer_gauche }}
			{% endif %}
		</section>

		<section class="col-lg-3">
			{% if page.footer_centre %}
			{{ page.footer_centre }}
			{% endif %}
		</section>

		<section class="col-lg-6">
			{% if page.footer_droit %}
			{{ page.footer_droit }}
			{% endif %}
		</section>
	</section>
</footer>
